# intermediate / autogen
*_test_log
*.pdf
*.la
*.kate-swp
*.lo
*.out
*.cmp
*.bak
.deps
.libs
stamp-h1
plot
cacheroot
key.pem
cert.pem
main

*edit_me.n4l
/test-driver
/tests/unit/*.log
/tests/load/*.log

/configure_flags.env
__pycache__/


# vim
*~
.*.swp
.*.swo

# emacs
.#*
*~

\#*#
.dir-locals.el
/contrib/*.elc

# eclipse
.cproject
.project
.settings

# qt-creator
/core.config
/core.creator
/core.creator.user
/core.files
/core.includes
*.autosave

# Mac Finder
.DS_Store
stories
conceptualize

# SHD ###########
# `air`
**/tmp
